In [1]:
import pandas as pd
import numpy as np

### Question 1

In [4]:
np.__version__

'1.19.2'

In [2]:
link = "https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv"
df = pd.read_csv(link)

In [3]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

### Question 2

In [5]:
df.shape

(11914, 16)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

### Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [17]:
df.groupby(['Make']).agg({'Model': 'count'}).reset_index().sort_values('Model', ascending=False).head(3)

          Make  Model
9    Chevrolet   1123
14        Ford    881
46  Volkswagen    809

### Question 4
What's the number of unique Audi car models in the dataset?

In [21]:
df[df['Make']=='Audi']['Model'].unique().shape

(34,)

### Question 5
How many columns in the dataset have missing values?

In [29]:
sum(df.isna().sum() > 0)

5

### Question 6

In [31]:
df['Engine Cylinders'].median()

6.0

In [32]:
df['Engine Cylinders'].mode()

0    4.0
dtype: float64

In [37]:
df_copy = df.copy()
df_copy['Engine Cylinders'].fillna(4, inplace=True)

In [38]:
df_copy['Engine Cylinders'].median()

6.0

### Question 7

In [46]:
x = df[df['Make']=='Lotus'][['Engine HP', 'Engine Cylinders']].drop_duplicates().values

In [48]:
XTX = np.matmul(x.T, x)

In [53]:
invXTX =  np.linalg.inv(XTX)

In [64]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]).reshape(-1,1)

In [66]:
w = np.matmul(np.matmul(invXTX, x.T), y)

In [67]:
w

array([[  4.59494481],
       [-63.56432501]])